/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/*NORMALIZE*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLES*/

:root {
  /* COLORS */

  --g3: #23232c;
  --g2: #4e5460;
  --g1: #a4a4a6;
  --m4: #3c2040;
  --m3: #8a378d;
  --m2: #a63889;
  --m1: #be3a83;

  /* FONT SIZE */

  --text-sm: 1.2rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;
  --title: 2.4rem;
}

/* COMMON STYLES */

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--g3);
  /* background-color: #1c1c2b;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); */
  color: var(--g1);
  margin: 12px 5%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  body {
    margin: 12px 3%;
  }
  .main-logo {
    width: 9%;
  }
  .search-bar {
    width: 40%;
  }
  .user-actions {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .main-logo {
    width: 7.5%;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    width: 6%;
  }
}
