main {
  display: flex;
}

main section {
  margin-right: 12px;
}

li {
  border-bottom: solid var(--g1) 1.5px;
  padding: 12px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--g1);
}

.artists-menu {
  display: none;
  width: 100%;
  font-size: var(--text-lg);
}

.artist-picture {
  display: block;
  width: 100%;
  margin: 12px 0px;
}

@media screen and (min-width: 576px) {
  .artists-menu {
    display: block;
  }
}
