main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-list li {
  border-bottom: solid var(--g1) 1.5px;
  padding: 12px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--g1);
}

.artists-menu {
  display: none;
  width: 165px;
  font-size: var(--text-md);
  margin-right: 12px;
}

.artist-picture {
  display: block;
  width: 100%;
  margin: 12px 0px;
}

@media screen and (min-width: 576px) {
  .artists-menu {
    display: block;
  }

  .artists-section {
    width: 10%;
    flex-grow: 1;
    max-width: 900px;
  }
}

@media screen and (min-width: 992px) {
  main {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    width: 6%;
  }
}
