<%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="main-login">
        <form action="#" method="POST" class="login" enctype="multipart/form-data">
        
        </form>
        </main>
<%- include('../partials/footer')%>