<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <main class="main-login">
        <div class="login-form">
          <form action="/login" method="POST" class="login">
            <br>
            <br>
            <div>
              <input class="login-input" type="text" name="email" id="email"
                placeholder="Nombre de Usuario">
            </div>
            <br>
            <div>
              <input class="login-input" type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <br>
            <div>
              <input id="buy" type="checkbox" name="userProfile">
              <label name="userProfile" class="titulo-option" for="buy">Remember me</label>
            </div>
            <br>
            <div>
              <button class="enviar-button" type="submit">Sign In</button>
            </div>
            <p>
              Don't have an account?
              <a href="/register" class="signUp" style="text-decoration: underline; color: white">Sign Up</a>
            </p>
            <p class="titulo-register">User profile</p>
            <br />
          </form>
        </div>
      </main>
      <%- include('../partials/footer')%>