<%-include('../partials/head')%>
<body>
  <%-include('../partials/header')%>
  <main class="main-login">
    <div class="login-form">
      <form
        action="/src/views/client/login.ejs"
        method="POST"
        class="login"
        enctype="multipart/form-data"
      >
        <br />
        <br />
        <div>
          <input
            class="nombreUsuario"
            type="text"
            name="nombreUsuario"
            id="userName"
            placeholder="Nombre de Usuario"
          />
        </div>
        <br />
        <div>
          <input
            class="contrasena"
            type="password"
            name="contrasena"
            id="ps"
            placeholder="Contraseña"
          />
        </div>
        <div>
          <input id="buy" type="checkbox" name="userProfile" value="Admin" />
          <label name="userProfile" class="titulo-option" for="buy"
            >Remember me</label
          >
        </div>
        <br />
        <div>
          <button class="enviar-button" type="submit">Sign In</button>
        </div>
        <p>
          Don't have an account?
          <a
            href="/register"
            class="signUp"
            style="text-decoration: underline; color: white"
            >Sign Up</a
          >
        </p>
        <p class="titulo-register">User profile</p>
        <br />
      </form>
    </div>
  </main>
  <%- include('../partials/footer')%>
</body>
