<%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main>
        <picture class="artist-card">
            <img src="img/artists_img/Deadmau5.png" alt="artist image" class="artist-picture">
        </picture>
    </main>
    <%- include('../partials/footer')%>