<footer>
  <div class="footer-content">
    <div class="social-media">
      <div class="social-media-content">
        <h2>Follow us</h2>
        <section class="facebook-section">
          <a href="#"
            ><span class="iconify" data-icon="brandico:facebook-rect"></span
          ></a>
          <a href="#"><p>Facebook</p></a>
        </section>
        <section class="instagram-section">
          <a href="#"
            ><span
              class="iconify"
              data-icon="ant-design:instagram-filled"
            ></span
          ></a>
          <a href="#"><p>Instagram</p></a>
        </section>
        <section class="twitter-section">
          <a href="#"
            ><span class="iconify" data-icon="akar-icons:twitter-fill"></span
          ></a>
          <a href="#"><p>Twitter</p></a>
        </section>
        <section class="spotify-section">
          <a href="#"
            ><span class="iconify" data-icon="akar-icons:spotify-fill"></span
          ></a>
          <a href="#"><p>Spotify</p></a>
        </section>
      </div>
    </div>
    <div class="footer-logo">
      <div class="footer-logo-content">
        <picture class="main-logo-footer">
          <a href="/"
            ><img
              class="bottom-logo"
              src="/img/various_img/Vinyl Logo.svg"
              alt="main-logo"
          /></a>
        </picture>
      </div>
    </div>
    <div class="footer-nav">
      <article class="footer-nav-menu">
        <ul>
          <li class="footer-item"><a href="products">Artists</a></li>
          <li class="footer-item"><a href="cart">Cart</a></li>
          <li class="footer-item"><a href="#">Contact</a></li>
          <li class="footer-item"><a href="#">About</a></li>
          <li class="footer-item"><a href="login">Login</a></li>
          <li class="footer-item"><a href="register">Register</a></li>
        </ul>
      </article>
    </div>
  </div>
</footer>
<p class="footer-copyright">Copyright &copy; Invisible Records 2022</p>
</body>
</html>