<header>
    <picture class="main-logo flex-row">
        <a href="../home.ejs"><img src="img/Vinyl Logo.svg" alt="main-logo"></a>
    </picture>
    <form action="home" class="search-bar flex-row">
        <input type="text" name= "search" placeholder= "Search for artists, albums, songs">
        <button><i class="fas fa-search"></i></button>
    </form>
    <div class="menu-icon flex-row">
        <span class="iconify" data-icon="carbon:overflow-menu-vertical"></span>
    </div>
</header>