<header>
  <div class="header-content">
    <picture class="main-logo flex-row">
      <a href="/"
        ><img src="/img/various_img/Vinyl Logo.svg" alt="main-logo"
      /></a>
    </picture>
    <form action="products" class="search-bar flex-row">
      <input
        type="text"
        name="search"
        placeholder="Search for artists, albums, songs"
      />
      <button><i class="fas fa-search"></i></button>
    </form>
    <div class="user-actions">
      <a href="login">login</a>
      <a href="register">sign-up</a>
    </div>
    <div class="menu-icon flex-row">
      <span class="iconify" data-icon="carbon:overflow-menu-vertical"></span>
      <article class="menu-list">
        <ul>
          <li class="menu-item"><a href="/products">Artists</a></li>
          <% if (locals.isLogged && locals.userLogged.admin == 1) { %>

          <li class="menu-item"><a href="/admin">Admin Settings</a></li>
          <% } %> <% if (!locals.isLogged) { %>

          <li class="menu-item"><a href="/cart">Cart</a></li>
          <li class="menu-item"><a href="/login">Login</a></li>
          <li class="menu-item"><a href="/register">Register</a></li>
          <% } %>
          <li class="menu-item"><a href="#">About</a></li>
        </ul>
      </article>
    </div>
  </div>
</header>
