<%-include('partials /head')%>

    <body class="bg-dark">
        <%-include('partials /header')%>
        <section>

            <div class="col-lg-5 d-flex flex-column align-items-end min-vh-100">
    
                <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-1">
                    <img src="../../../public/img/various_img/Vinyl Logo.svg" class="img-fluid">
                </div>
                    <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
                        <form class="mb-5">
                            <div class="mb-2">
                                <label for="first_name" class="form-label fw-bold"></label>
                                <input name="first_name" type="text" class="form-control bg-dark-x border-0 mb-2" placeholder="Nombre" id="first_name">
                            </div>
    
    
                            <div class="mb-2">
                                <label for="release_date" class="form-label fw-bold"></label>
                                <input name="release_date" type="text" class="form-control bg-dark-x border-0 mb-2" placeholder="Fecha de Lanzamiento" id="release_date">
                            </div>
    
                            <div class="mb-2">
                                <label for="price" class="form-label fw-bold"></label>
                                <input name="price" type="text" class="form-control bg-dark-x border-0 mb-2" placeholder="Precio" id="price">
                            </div>
    
                            <div class="mb-2">
                                <label for="stock" class="form-label fw-bold"></label>
                                <input name="stock" type="text" class="form-control bg-dark-x border-0 mb-2" placeholder="Stock" id="stock">
                            </div>
    
                            <div class="mb-2">
                                <label for="discount" class="form-label fw-bold"></label>
                                <input name="discount" type="text" class="form-control bg-dark-x border-0 mb-2" placeholder="Discount" id="discount">
                            </div>
    
    
                            <div class="mb-4">
                                <label for="cover_image" class="form-label fw-bold"></label>
                                <input name="cover_image" type="file" class="form-control bg-dark-x border-0 mb-2" placeholder="Cover image" id="cover_image" accept=".png, .jpg">
                            </div>
    
    
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-light flex-grow-1 me-2 sep1">Add</button>
                            </div>
                        </form>
            </div>
        </section>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



            <%- include('partials/footer')%>
    </body>

    </html>