<%-include('partials/head')%>
<body>
    <%-include('partials/header')%>
    <main class="main-login">
        <form action="/register.html" method="POST" class="formulario" enctype="multipart/form-data">
            <br>
            <br>
            <p class="titulo-register">Product Name</p>
            <div>
                <input class="input-register" type="text" name="nombreCompleto" id="name">
            </div>
            <br>
            
            <div>        
               <textarea class="input-register" rows="6" cols="40" id="descripcionProd" name="descripcionProd" >Input the product description</textarea>
            </div>
           <br>
           <p class="titulo-register">SKU</p>
           <div>        
               <input class="input-register" type="text" name="sku" id="sku" value="ABCXXXYYY">
           </div>
           <br>
           <p class="titulo-register">Price</p>
           <div>
               <input class="input-register" type="text" name="price" id="price" value="$ 0.000.00">
           </div>
           <br>
           <p class="titulo-register">Discount</p>
           <div>          
               <input class="input-register" type="text" name="discount" id="discount" value="0 %">
           </div>
           <br>
           <p class="titulo-register">Stock</p>
           <div>          
               <input class="input-register" type="text" name="stock" id="stock" value="0 unidades">
           </div>
          <br>
           <div>
               <button class="enviar-button-register" type="submit">Agregar</button>           
           </div>
           <br>
           <div>
               <button class="reset-button" type="reset">Descartar</button>
           </div>
        </form>
        </main>

    
<%- include('partials/footer')%>